@model OrderListViewModel


<div class="card" style="width: 18rem;">
    <div class="card-body">

        <h5 class="card-title">@Model.FullName</h5>
        <p class="card-text">@Model.Address</p>
        @if (Model.IsDelivered)
        {
            <p class="text-success">Delivered</p>
        }
        else
        {
            <p class="text-danger">Not Delivered</p>
        }

        <br />
        <a type="button" class="btn btn-danger" asp-action="Delete" asp-route-id="@Model.Id">Delete</a>

    </div>
    <br />
</div>
    
