@model PizzaViewModel

<div class="card-container">

    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Name : @Model.Name</h5>
            @if (Model.HasExtras)
            {
                <p class="card-text">Price : @(Model.Price + 10)</p>
            }
            else
            {
                <p class="card-text">Price : @Model.Price</p>
            }
            Sizes:
            @foreach (var size in Model.PizzaSizes)
            {
                <p>@size</p>
            }
        </div>
        <br />
    </div>
</div>