@model PizzaListViewModel

<h2>@Model.Name</h2>
<h2>Name: @Model.Name</h2>

<br />

<@if (@Model.IsOnPromotion)
{
        <h3 class="text-success">ON PROMOTION</h3>
}
else
{
        <h3 class="text-danger">NOT ON PROMOTION</h3>
}
<br />
<a class="btn btn-warning" asp-area="" asp-controller="Pizza" asp-action="Index">Back</a>