@model Order

<div class="mainDiv">
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title"> Name of the order: @Model.Name</h5>
            <h6 class="card-subtitle mb-2 text-muted"> Address: @Model.Address</h6>
            <p class="card-text"> City: @Model.City</p
        </div>
    </div>
</div>