@model List<BurgerListViewModel>

<h2>List of burgers:</h2>
<br />
<div class="card-container">
    @foreach (var burger in @Model)
    {
        <partial name="~/Views/Shared/Partials/BurgerPartials/_BurgerCardPartial.cshtml" for="@burger" />
    }
</div>
<br />

<div class="HomeIndexBtns">
    <a class="btn btn-warning btnHomePage" asp-area="" asp-controller="Home" asp-action="Index">Home page</a>
    <br />
    <br />
    <a class="btn btn-warning btnCreateBurger" asp-area="" asp-controller="Burger" asp-action="Create">Add Burger</a>
</div>

