html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.card-container {
    display: flex;
    gap: 15px;
}

.card-img{
    height: 450px;
    width: 600px;
}

.burger-details{
    position: absolute;
    margin-left: 700px;
    margin-top: -400px;
}

.HomeIndexBtns{
    display: flex;
    gap: 10px;
}

.btnHomePage{
    height: 40px;
}

.btnCreateBurger {
    height: 40px;
}